.popImg {
    height: 60px;
    border-radius: 50%;
    cursor: pointer!important;
    margin: 0.2rem 0 0 0.7rem;
}
.popUserImg {
    margin-top: 10px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.userName, 
.userEmail{
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 5px;
}
.userEmail {
    margin: 0.3rem 3.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(0,0,0,.7);
}

.log-out-butt{
    margin-bottom: 8px;
    width: 100px;
}